.jumbotron {
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}
.btn {
    background-color: goldenrod
}

footer {
    padding: 10px 10px 0 10px;
    background-color: gainsboro;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 20px 2px 20px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;

}
.footer-address-icon{
    padding-right: 10px;

}